html, body {
  height: 100%;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#app .content {
  height: 300px;
  width: 300px;
  background: url(@/image/p1.png);
  opacity: 0.4;
  transition: 0.3s all;
}

#app .content:hover {
  opacity: 1;
}
