body {
  background-color: #f7f7f7;
  color: mediumturquoise;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  height: 300px;
  width: 300px;
  background: url(../image/p1.png);
  opacity: 0.4;
  transition: 0.3s all;
}

#app:hover {
  opacity: 1;
}
